#top-controls {
  margin-bottom: 10px;
  white-space: nowrap;

  .control {
    display: inline;
    margin-right: 10px;
    padding: 2px .2ex;
    text-decoration: none;
    font-size: 96px;
    background: #6d6d6d;
    color: white;
  }

  input {
    border: 0;
    outline: none;
  }

  input.species { width: 5ex; }
  input.num { width: 2ex; }

}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {

    th, td {
      padding: 0;
      text-align: center;

      img {
        display: block; // Else 4px extra height from display:inline
      }

    }

  }

}
