#top-controls {
  margin-bottom: 10px;
  white-space: nowrap;

  .control {
    display: inline;
    margin-right: 10px;
    padding: 2px .2ex;
    text-decoration: none;
    font-size: 96px;
    background: #6d6d6d;
    color: white;
  }

  input {
    border: 0;
    outline: none;
  }

  input.num       { width: 2ex; }
  input.species   { width: 5ex; }
  input.quality   { width: 2ex; }
  input.num.xc_id { width: 6ex; }

}

#main {
  table {
    border: 0;

    th, td {
      border: 0px solid black;
      border-width: 1px 0;

      img {
        display: block; // Else 4px extra height from display:inline
      }

    }

  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    th, td {
      padding: 0 5px;
      text-align: center;
      white-space: nowrap;
    }
  }

}
