<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet/less" href="/static/styles/recs.less" type="text/css" />
  <script src="/static/lib/less.js/3.7.1/less.min.js" ></script>
  <link rel="shortcut icon" href="/static/images/spectro-CATH-a-32.png" />

</head>

<body>

  <div id="top-controls">
    <form onsubmit="topControlsSubmit(event)">
      <table class="controls-table">

        {% block controls_table %}
        {% endblock %}

      </table>

      <!-- Add a (hidden) submit button so 'enter' works -->
      <!-- <input type="submit" hidden /> --> <!-- Doesn't work on ios safari [https://stackoverflow.com/a/11282107/397334] -->
      <input type="submit" style="visibility: hidden; position: absolute"/>

    </form>
  </div>

  <div id="main">
    {% block body %}
    {% endblock %}
  </div>

  <script>

    //
    // Bubo
    //

    window.topControlsSubmit = ev => {
      ev.preventDefault();
      topControlsGo();
    };

    window.topControlsGo = () => {
      locationReplaceQueryStringWith(objectFromEntries(
        Array.from(document.querySelectorAll('#top-controls input.control')).map(input => {
          return [input.dataset.arg, input.value.trim()];
        })
      ))
    };

    document.addEventListener('DOMContentLoaded', ev => {

      Array.from(document.querySelectorAll('input.control')).forEach(input => {

        // Select input text on focus
        if (isIOS()) {
          input.onclick = ev => ev.target.setSelectionRange(0, 9999); // (ios)
        } else {
          input.onfocus = ev => ev.target.select(); // (chrome)
        }

        // Open numpad instead of keyboard (ios) [Disabled because numpad doesn't have an enter button]
        // if (input.classList.contains('num')) input.pattern = '\\d*';

        // Disable spellcheck (ios) [https://stackoverflow.com/a/254716/397334]
        //  - This doesn't work, have to do in the html (above)
        // input.spellcheck = false;
        // input.autocomplete = "off";
        // input.autocorrect = "off";
        // input.autocapitalize = "off";

      });

    });

    //
    // Location
    //

    window.locationReplace = params => {
      window.location = locationWith(params);
    };

    window.locationReplaceQueryStringWith = params => {
      locationReplace({search: queryStringWith(params)});
    };

    window.locationWith = params => {
      const a = document.createElement('a');
      a.href = window.location;
      Object.entries(params).forEach(([k, v]) => a[k] = v);
      return a.href;
    };

    window.queryStringWith = params => {
      const query = new URLSearchParams(window.location.search);
      Object.entries(params).forEach(([k, v]) => query.set(k, v));
      return query.toString();
    };

    //
    // Util
    //

    window.objectFromEntries = entries => {
      const x = {};
      entries.forEach(([k, v]) => { x[k] = v; });
      return x;
    };

    window.isIOS = () => {
      // https://stackoverflow.com/a/9039885/397334
      return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    };

  </script>

</body>

</html>
