{% extends "recs.html.j2" %}

{% block controls_table %}

  <tr>
    <td>host</td>
    <td>species</td>
    <td>quality</td>
    <td>n_recs</td>
    <td>scale</td>
    <td>audio_s</td>
  </tr>

  <tr>
    <td><a class="control" href="//{{ req_switch_host_host() }}{{ request.full_path }}">{{ req_switch_host_text() }}</a></td>
    <td><input type="text" data-arg="species" class="control text species" value="{{ req_query_get('species', '') }}"
      autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    /></td>
    <td><input type="text" data-arg="quality" class="control text quality" value="{{ req_query_get('quality', 'ab') }}"
      autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
    /></td>
    <td><input type="text" data-arg="n_recs"  class="control num n_recs"   value="{{ req_query_get('n_recs',  20) }}" /></td>
    <td><input type="text" data-arg="scale"   class="control num scale"    value="{{ req_query_get('scale',   1) }}" /></td>
    <td><input type="text" data-arg="audio_s" class="control num audio_s"  value="{{ req_query_get('audio_s', 10) }}" /></td>
  </tr>

{% endblock %}

{% block body %}

  {{ body_html | safe }}

{% endblock %}
