<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet/less" href="/static/styles/recs.less" type="text/css" />
  <script src="/static/lib/less.js/3.7.1/less.min.js" ></script>
  <link rel="shortcut icon" href="/static/images/spectro-CATH-a-32.png" />
</head>

<body>

  <div id="top-controls">
    <form onsubmit="topControlsSubmit(event)">
      <table class="controls-table">

        {% block controls_table %}
        {% endblock %}

      </table>

      <!-- Add a (hidden) submit button so 'enter' works -->
      <!-- <input type="submit" hidden /> --> <!-- Doesn't work on ios safari [https://stackoverflow.com/a/11282107/397334] -->
      <input type="submit" style="visibility: hidden; position: absolute"/>

    </form>
  </div>

  <div id="main">
    {% block body %}
    {% endblock %}
  </div>

  <script>

    window.topControlsSubmit = (ev) => {
      ev.preventDefault();
      topControlsGo();
    };

    window.topControlsGo = () => {
      const controls = document.getElementById('top-controls');
      const query = new URLSearchParams(window.location.search);
      Array.from(document.querySelectorAll('#top-controls input.control')).forEach(input => {
        query.set(input.dataset.arg, input.value.trim());
      });
      window.location.search = query.toString();
    };

    document.addEventListener('DOMContentLoaded', ev => {

      Array.from(document.querySelectorAll('input.control')).forEach(input => {

        // Select input text on focus
        if (isIOS()) {
          input.onclick = ev => ev.target.setSelectionRange(0, 9999); // (ios)
        } else {
          input.onfocus = ev => ev.target.select(); // (chrome)
        }

        // Open numpad instead of keyboard (ios) [Disabled because numpad doesn't have an enter button]
        // if (input.classList.contains('num')) input.pattern = '\\d*';

        // Disable spellcheck (ios) [https://stackoverflow.com/a/254716/397334]
        //  - This doesn't work, have to do in the html (above)
        // input.spellcheck = false;
        // input.autocomplete = "off";
        // input.autocorrect = "off";
        // input.autocapitalize = "off";

      });

    });

    window.isIOS = () => {
      // https://stackoverflow.com/a/9039885/397334
      return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    };

  </script>

</body>

</html>
